@use 'variables' as *

@mixin font-primary()
  font: normal 400 1rem/1 $font-primary

@mixin font-secondary()
  font: normal 400 .875rem/1 $font-primary

@mixin font-tertiary()
  font: normal 400 .875rem/1  $font-primary

p
  @include font-primary()

label
  @include font-secondary()

.font-primary
  @include font-primary()

.font-secondary
  @include font-secondary()

.font-tertiary
  @include font-tertiary()
