@use '@angular/material' as mat;
@include mat.core();

$custom-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      bold-weight: 400,
    ),
  )
);

:root {
  @include mat.all-component-themes($custom-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
