$header-height-login: 90px;
$header-height: 56px;

$font-primary : Roboto, sans-serif;

$container-max-width: 1356px;
$container-footer: 64px;

$box-shadow: 0px 2px 3px rgba(20,21,31,1);
$transition:  all .3s ease;

$card-box-shadow: 0px 0px 0px 0px transparent,
0px 0px 0px 0px transparent,
0 1px 3px 0 rgba(0, 0, 0, 0.1),
0 1px 2px -1px rgba(0, 0, 0, 0.1) !important;
