/* You can add global styles to this file, and also import other style files */

@forward 'variables'
@forward 'breakpoints'

html,body
  height: 100%

.animation-sync
  animation-name: rotate
  animation-duration: 5s
  animation-iteration-count: infinite
  animation-timing-function: linear
  border-radius: 50%

@keyframes rotate
  from
    transform: rotate(-360deg)
  to
    transform: rotate(360deg)


